# Data files (too large for git)
data/raw/*.txt
data/raw/*.zip
data/processed/*.csv

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!results/figures/.gitkeep

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# System
.DS_Store